/**
 * ----------------------------------------------------------------------------------------
 * Site settings.
 * ----------------------------------------------------------------------------------------
 */


/* Typography */
$base-font-size: 16px;
$font-1: 'Open Sans', Helvetica, Arial, sans-serif;
$font-2: 'Dosis', Georgia, serif;

$baseline: $base-font-size * 1.5;

/* Colors */
$color-link: #F2604A;
$color-link-hover: #191919;

$color-text: #454A4E;
$color-light-text: lighten($color-text, 30%);
$color-dark-text: #191919;

$color-hr: #EEE;

$color-1: #F8F8F8;
$color-2: #43484B;

$color-banner: #55ABC7;
$color-callout: #2D3439;

$color-validation-error: red;
$color-validation-success: green;

/* Positioning */
$margin-multiplier: 2;

$general-margin: $baseline * $margin-multiplier;

/* Grid */
$column-count: 12;
$gutter: 1em;

/* Buttons */
$btn-roundness: 3px;

$btn-small-font-size: .75em;
$btn-large-font-size: 2em;

$btn-default-bg: #dde2d4;
$btn-default-text-color: #333;

$btn-primary-bg: #0f82bd;
$btn-primary-text-color: lighten(#0f82bd, 50%);

/* Forms */
$field-border-color: #ccc;
$field-error-color: red;
$field-required-color: red;

/* Icons */
$icon-roundness: 3px;
$icon-border-color: #ccc;

/* Feedback */
$information-color: #439ccf;
$error-color: #e72915;
$warning-color: #d35400;
$success-color: #74a730;

/* Navigation */
$navbar-link-color: $color-text;
$navbar-submenu-bg: #dde2e4;

/* Tabs */
$tabs-border-color: #ccc;
$tabs-inactive-bg-color: #c1cacd;
$tabs-active-bg-color: #fff;

/* Accordions */
$accordion-border-color: #ccc;
$accordion-inactive-bg-color: #c1cacd;
$accordion-active-bg-color: #333;
$accordion-active-text-color: #fff;
