/**
 * ----------------------------------------------------------------------------------------
 * Box styles.
 * ----------------------------------------------------------------------------------------
 */

.box {

	margin-bottom: $baseline * 1.5;
	overflow: hidden;

	border: 1px solid #DDDDDD;
	@include border-radius(4px);

	background-color: #FFFFFF;

}

.box-content {

	padding: 2em;

}

.box-title {

	margin: 0px;

}
